.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  height: 30px;
}

.App-header {
  background-color: #011627;
  height: 150px;
  padding: 20px;
}
.App-intro {
  font-size: large;
}
/*-------TITLE-----*/
.title {
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}
/*-------FORM------ */
form {
  margin: 20px;
  text-align: center;
}
button {
  margin-left: 10px;
  padding: 5px;
  background-color: #41EAD4;
  border: 1px solid #41EAD4;
}
.card {
  color: #011627;
  font-family: monospace;
  padding: 20px;
  margin: 15px;
  letter-spacing: 3px;
  border: 1px solid #41EAD4;
  text-transform: uppercase;
}
input {
  border: 1px solid #41EAD4;
  padding: 5px;
}